<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {%- if site.moving.about_url -%}
                  <a class="black-link" href="{{ site.moving.about_url }}">
                  {{ site.author | escape }} 
                  </a>
                {%- else %}
                  {{ site.author | escape }}
                {%- endif %}
              {%- endif -%}
              </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>